@model Dish

@{
    ViewData["Title"] = $"Edit {Model.Name}";
}

<section>
    <h1 class="mb-4">Edit Dish</h1>
    <form asp-controller="Admin" asp-action="UpdateMenuItem" method="post" id="editDishForm">
        <!-- Hidden fields not editable but will still be sent back with the form-->      
        <input type="hidden" name="Id" value="@Model.Id" />
 
        <article class="card card-shadow">
            <div class="card-body">
                <label for="Name">Dish name:</label>
                <input class="form-control" id="Name" name="Name" value="@Model.Name" required />
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <label for="Description">Description:</label>
                    <textarea class="form-control" id="Description" name="Description" rows="3" required >@Model.Description</textarea>
                </li>
                <li class="list-group-item">
                    <label for="Price">Price:</label>
                    <input type="text" step="any" class="form-control" id="Price" name="Price" value="@Model.Price.ToString("0.00")" required />
                </li>
                <li class="list-group-item">
                    <label for="MealType">Meal type:</label>
                    <select asp-for="MealType" class="form-control" id="MealType" name="MealType" value="@Model.MealType" required>
                        <option value="Appetizer">Appetizer</option>
                        <option value="Main">Main course</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                </li>
                <li class="list-group-item">
                    <label>Availability:</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="AvailableYes" name="IsAvailable" value="true" @((Model.IsAvailable) ? "checked" : "") />
                        <label class="form-check-label" for="AvailableYes">Available</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="AvailableNo" name="IsAvailable" value="false" @((!Model.IsAvailable) ? "checked" : "") />
                        <label class="form-check-label" for="AvailableNo">Out of stock</label>
                    </div>
                </li>
            </ul>


            <div class="card-body">
                <button type="submit" class="btn btn-success">Save Changes</button>
                <a asp-action="EditMenu" class="btn btn-secondary">Cancel</a>
            </div>
        </article>
    </form>
</section>